.footer {
    background-color: rgb(224, 248, 248);        
    color:rgb(184, 204, 204);
    font-size: 18px;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 20px;
}

.footer__copyright {
    text-align: center;
    margin-top: 20px;
    background-color:rgb(205, 228, 228);    
    font-weight: bold;
    padding: 20px;
    color:rgb(136, 168, 168);
}

.footer__title {
    font-size: 22px;
    font-weight: bold;
    color: blue;
    margin-bottom: 5px;
}

.footer__about-text {
    width: 400px;
    text-align: justify;
}


.footer i {
    margin-right: 10px;
    color: #7a7979;
}

.footer li {
    align-items: center;
    margin: 10px 0;
}